.nominations-wrapper {
    width: 40%;
    padding: 2%;
    margin: 1%;
    border-radius: 5px;
    background-color: #ffffff;

    .heading {
        font-weight: bold;
        font-size: 20pt;
    }
}