.item {

    width: 167px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    margin: 0.5%;
    align-self: center;

    .poster {
        width: 100%;
        height: 250px;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: gray;
    }

    .content {
        padding: 5%;

        $font-size: 12pt;
        $line-height: 1.2;
        $lines-to-show: 2;

        .title {
            display: block;
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            height: $font-size * $line-height * $lines-to-show;
            margin: 0 auto;
            max-width: 400px;
            font-size:  $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
        }
    }


}